# All image_service requests start with view
location / {
    client_max_body_size    100M;

    proxy_connect_timeout      180s;
    proxy_send_timeout         180s;
    proxy_read_timeout         180s;

    proxy_set_header HOST $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;
    
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Server $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:4440/;
}

