keystore=/etc/rundeck/ssl/keystore
keystore.password={{ rundeck_key_password }}
key.password={{ rundeck_key_password }}
truststore=/etc/rundeck/ssl/truststore
truststore.password={{ rundeck_key_password }}