keystore=/etc/rundeck/ssl/keystore
keystore.password={{ rundeckstore.defaultstorepassword }}
key.password={{ rundeckstore.defaultstorepassword }}
truststore=/etc/rundeck/ssl/truststore
truststore.password={{ rundeckstore.defaultstorepassword }}